### IntelliJ IDEA ###
# backend
logs/
target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### JRebel ###
rebel.xml


# frontend
frontend/*.local
frontend/.DS_Store
frontend/package-lock.json
frontend/bin
frontend/dist
frontend/dist_electron
frontend/node_modules

